.App {
  max-width: 100 px;
  margin: auto;
  margin-top: 500px;
}



/* in marbut be estefade tavasoe kelase */
.btn-more {
  background-color : rgba(0,0,0,.8) ;
  padding : 10px 25px;
  border: none;
  border-radius: 3px;
}

.btn-more.active {
  background-color:   rgba(0,0,0,.5);
}